.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: aquamarine;
}

.grid div {
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
}

.checked {
    background-color: lightgreen;
}